name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=./libcephes
    - name: Build
      run: cmake --build build --parallel 4
    - name: Install
      run: cmake --install build
    - uses: actions/upload-artifact@v4
      with:
        name: libcephes
        path: libcephes/
