name: Build

on:
  push:
    branches:
      - main
  pull_request:

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{ matrix.os }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
    - name: Configure
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX="./libcephes"
    - name: Build
      # Note: MSVC does not support Release build at this time.
      #   error C2169: intrinsic function, cannot be defined
      # TODO: build with:  --config Release
      run: cmake --build build --parallel 4
    - name: Install
      if: matrix.os != 'windows-latest'
      run: cmake --install build

    - name: Install.win
      if: matrix.os == 'windows-latest'
      # Workaround ........................vvvvv
      run: cmake --install build  --config Debug
    - uses: actions/upload-artifact@v6
      if: matrix.os == 'windows-latest'
      with:
        name: libcephes-${{ matrix.os }}
        path: libcephes/
