name: Coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  codecov:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
    - name: Install packages
      run: sudo apt-get install -y lcov

    - name: Configure
      run: cmake -S . -B build  -DCMAKE_BUILD_TYPE=Coverage -DBUILD_TESTS=ON
    - name: Build
      run: cmake --build build --parallel 4
    - name: Run Tests
      run: ctest --test-dir build -j4
    - name: Generating coverage report
      run: cmake --build build --target coverage_html

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de  # v5.5.2
      with:
        files: build/coverage.info
    - name: Upload HTML coverage report
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: cov-html
        path: build/coverage_report/**
