name: Coverage

on:
  push:
    branches:
      - main
  pull_request:

permissions:
   contents: read  # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  codecov:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683  # v4.2.2
    - name: Install packages
      run: sudo apt-get install -y lcov

    - name: Configure
      run: cmake -DCMAKE_BUILD_TYPE=Coverage -S . -B build
    - name: Build
      run: cmake --build build
    - name: Run Tests
      working-directory: build
      run: ctest
    - name: Generating coverage report
      run: cmake --build build --target coverage_html

    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@7f8b4b4bde536c465e797be725718b88c5d95e0e  # v5.1.1
      with:
        files: build/coverage.info
    - name: Upload HTML coverage report
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
      with:
        name: cov-html
        path: build/coverage_report/**
